body {
    background-color: #d77bba;
    display: flex;
    justify-content: center;

}

#controls {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.square {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #99E550;
    background-color: rgb(251, 242, 54);
}

#editor {
    display: flex;
    flex-wrap: wrap;
    height:960px;
    width: 960px;
    border: 20px solid #99E550;
    margin-bottom: 30px;
}

#frame {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    width:1060px;
    height:1660px;
    background-image: url("eas-frame.png");
}

button, input {
    padding:20px;
    background-color:#fbf236;
    font-size: large;
    font-weight: bold;
    border: 20px solid #5FCDe4;
    width: 200px;
    height:200px;
    font-family: 'Courier New', Courier, monospace;
    color: #99E550;
}

