

.square {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid #33FFE7;
}

#editor {
    display: flex;
    flex-wrap: wrap;
    height:960px;
    width: 960px;
    border: 10px solid #33FFE7;
}